<h2>Sala sław</h2>
<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Ilość zwycięstw</td>
            <td>Imię</td>
        </tr>
    </thead>
    <tbody>
        {{#each warriors}}
            <tr>
                <th>{{@index}}</th>
                <td>{{this.wins}}</td>
                <td>{{this.name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
