<h2>Dodawanie nowego klienta do bazy</h2>
<form method="POST" action="/client">
<div>
    <label>
        E-mail:
        <input type="email" name="mail">
    </label>
</div>
<div>
    <label>
        Imię:
        <input type="text" name="name">
    </label>
</div>
<div>
    <label>
        Kolejny kontakt:
        <input type="date" name="nextContactAt">
    </label>
</div>
<div>
    <label>
        Notatki:
        <textarea type="date" name="notes"></textarea>
    </label>
</div>
<button type="submit">Zapisz</button>
</form>